# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Node.js / web-app & mobileApp
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js (web-app)
.next/
out/
build/

# React Native (mobileApp)
.expo/
*.jks
*.p8
*.mobileprovision
*.orig.*
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/src/main/assets/

# IDE / OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# ML Models / Large Binaries
*.tflite
*.pt
yolov8n_saved_model/
*.weights
*.onnx
